{% extends "base.html" %}
{% block mainContent %}
        <section id="generalInfoSection">
            <h1>General</h1>
            <div>
                <p>
                    Elisio is a way too ambitious project that aims to provide an online verse scanning tool for Latin metrical verses.
                    The project started in 2014 as a rewrite of an older Java program that was pretty good at scanning hexameters but not much else.
                    The current engine was written with Python 3, and the front-end (website) was composed with <a href="//www.djangoproject.com/">Django</a>.
                    The <a href="/blog">blog</a> uses <a href="//django-blog-zinnia.com/">Zinnia</a>, a Free blogging platform built on top op Django.
                </p>
                <p>Main dev is <a href="//github.com/blagae">Benoit Lagae</a>, a Latin enthousiast from Belgium who wrote his MA thesis about elision.</p>
            </div>
        </section>
        <section id="scansionInfoSection">
            <h1>Scanning a verse</h1>
            <div>
                <p>
                    An essential feature of Classical Latin verses is its <em>meter</em>, a sequence of light and heavy syllables in a semi-regular pattern.
                    The Elisio tool is written specifically to look for clues as to whether syllables are light or heavy,
                    and given enough clues it can deduce the rest of the verse's structure.
                    Currently, Elisio can scan the classical <em>hexameter</em> and <em>pentameter</em> meters, though the latter is still unavailable.
                    An example of the algorithm with <em>Verg. Aen. I, 1</em>:
                </p>
                <div>
                    <p class="centered">Arma virumque cano, Troiae qui primus ab oris</p>
                    <p>A few basic rules can be applied:</p>
                    <ul>
                        <li>ar-, -rum- stand before a consonant cluster that is not a <em>muta cum liquida</em>, and are thus heavy</li>
                        <li>-que has a short vowel so it is light before a single consonant</li>
                        <li>final -o is most always long, and thus heavy</li>
                        <li>diphthongal ae is always long, and thus heavy</li>
                        <li>the foreign name Troia has a long o (this is hard-coded)</li>
                    </ul>
                    <p class="centered">A̱rma viru̱mque̯ cano̱, Tro̱iae̱ qui primus ab oris</p>
                    <p>This is already enough information to go further:</p>
                    <ul>
                        <li>Light syllables come in pairs, so ca- must be light, and this verse foot ends after it</li>
                        <li>Hence, we know that the same foot started on -rum-</li>
                        <li>There are only three syllables before this foot, so this must be a single dactylus. we now know the first two feet</li>
                        <li>The third foot is a spondaeus since its second half, the o in Troia, is heavy</li>
                        <li>Unless there is specific information to the contrary, we assume a regular 5-syllable clausula, and there is no such information here</li>
                        <li>Hence qui is the second part of a spondaeus and heavy</li>
                    </ul>
                    <p class="centered">A̱rma vi/ru̱mque̯ ca/no̱, Tro̱i/ae̱ qui / primus ab / oris</p>
                    <p>Then we fill in the missing information:</p>
                    <p class="centered">A̱rma̯ vi̯/ru̱mque̯ ca̯/no̱, Tro̱i/ae̱ qui̱ / pri̱mu̯s a̯b / o̱ri̱s</p>
                </div>
            </div>
        </section>
        <section id="zelenyInfoSection">
            <h1>Zeleny codes</h1>
            <div>
                <p>
                    An additional part of the scansion process, not normally covered when scanning a verse, is the distribution of word accents.
                    This system was pioneered by Karin Zeleny in her doctoral dissertation <a href="//verlag.oeaw.ac.at/Itali-Modi">Itali Modi</a> (2008),
                    wherein she argues that accent placement was very relevant to Latin poets at composition time and that certain distribution types were avoided.
                </p>
                <p>
                    The Zeleny code is a numerical representation of the moraic distances between consecutive accented syllables in the verse.
                    Light syllables count as 1 mora, heavy syllables as 2.
                    The moraic distance is seldom higher than 9, so there is very little confusion possible when stringing the numbers together, like 66444.
                </p>
                <p>
                    The morae from the beginning of the verse are also counted, as are those between the last stressed syllable and the end of the verse.
                    That means that, for a verse form with a fixed mora count, such as the hexameter with 24 and the pentameter with 20 morae,
                    the sum of these numbers will correspond with the mora count.
                    If the first word accent falls on the first syllable on the verse, then the initial moraic space of 0 is not written by Zeleny.
                    This introduces the situation where verses with the same amount of lexical words can have a Zeleny code of a different length:
                </p>
                <blockquote>
                    <p>in<u>sig</u>nem pie<u>ta</u>te <u>vi</u>rum, <u>tot</u> a<u>di</u>re la<u>bo</u>res</p>
                    <footer><cite>Verg. Aen. I, 10</cite> — Zeleny code: 2633244</footer>
                </blockquote>
                <blockquote>
                    <p><u>tan</u>tae <u>mo</u>lis <u>e</u>rat Ro<u>ma</u>nam <u>con</u>dere <u>gen</u>tem.</p>
                    <footer><cite>Verg. Aen. I, 33</cite> — Zeleny code: 435444</footer>
               </blockquote>
                <p>
                    As of June 2017, the implementation in this web tool is still rudimentary:
                    it assigns a word accent to each word, which is most unlikely to represent actual diction of verses,
                    especially in the case of monosyllabic 'grammar words' such as prepositions and conjunctions.
                </p>
            </div>
        </section>
{% endblock %}
