{% extends "base.html" %}
{% block mainContent %}
        <section id="helpSection">
            <p>This project is very much a work in progress. Many plans are in the works, but few are fully realized.
            </p>
            <p>You can help out with:</p>
            <h2>User contributions</h2>
            <ul>
                <li>reporting incorrect verse scansions</li>
                <li>providing edge cases we should be able to beat</li>
            </ul>
            <h2>Designer contributions</h2>
            <ul>
                <li>Fix my CSS, because I clearly don't know what I'm doing</li>
                <li>Suggest REST routes for better data access</li>
            </ul>
            <h2>Programmer contributions</h2>
            <ul>
                <li>finding scanning algorithms</li>
                <li>debugging known issues</li>
                <li>cleaning up code, or telling me what to clean up</li>
            </ul>
            <h2>High-level ideas</h2>
            <ul>
                <li>thinking out of the box for untapped methods of analysis</li>
            </ul>
        </section>
{% endblock %}
