{% extends "base.html" %}
{% block content %}
        <section id="about">
            <div>
                <p>Elisio is a way too ambitious project that aims to provide an online verse scanning tool for Latin metrical verses.</p>
                <p>The project started in 2014 as a rewrite of an older Java program that was pretty good at scanning hexameters but not much else.</p>
                <p>The current engine was written with Python 3, and the front-end (website) was composed with Django.</p>
                <p>Main dev is <a href="http://github.com/blagae">Benoit Lagae</a>, a Latin enthousiast who wrote his MA thesis about elision.</p>
            </div>
        </section>
{% endblock %}
