{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="follow, all" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{% block meta-description %}Elisio, a Latin verse parser{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
        <meta name="author" content="blagae" />
        <meta name="keywords" content="{% block meta-keywords %}Latin, elision, verse, parsing{% endblock meta-keywords %}" />
        {% block meta %}{% endblock meta %}

        <title>{% block title %}The Elisio Project{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
        {% block link %}{% endblock link %}
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        {% block script %}{% endblock script %}
    </head>
    <body {% block bodytag %}{% endblock bodytag %}>
        <section id="menuSection">
            <div id="menuDiv">
                <nav>
                    <a href="/">Scanning tool</a>
                    <a href="/batch/">Data analysis</a>
                    <a href="/blog/">Blog</a>
                    <a href="/help/">Contribute</a>
                    <a href="/about/">About</a>
                    {% if request.user.is_authenticated %}
                    <a href="/profile/">Profile of {{request.user.username}}</a>
                    <a href="/logout/?next={{request.path}}">Log out</a>
                    {% else %}
                    <a href="/login/?next={{request.path}}">Log in</a>
                    <a href="/register/">Register</a>
                    {% endif %}
                </nav>
            </div>
        </section>
        <section id="sideSection">
        {% block sideContent %}
        {% endblock %}
        </section>
        <section id="mainSection">
        {% block mainContent %}
        {% endblock %}
        </section>
        <section id="footerSection">
            <p>This website's source code is licensed under the AGPL and available on <a href="http://github.com/blagae/elisio">Github</a>.</p>
            <p>Please note that this website is under heavy development.
            You're welcome to ping me on a Github issue or <a href="https://latin.stackexchange.com">the Latin Stack Exchange</a>,
            if you are a registered member at either.</p>
            <p>Made by blagae in 2017.</p>
        </section>
    </body>
</html>
