<!DOCTYPE html>
<html lang="en"> {% load staticfiles %}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}The Elisio Project{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        {% block extra_styles %}{% endblock %}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="{% static 'scripts.js' %}"></script>
        {% block extra_scripts %}{% endblock %}
    </head>
    <body>
        <section id="menu">
            <div id="menu_wrapper">
                <nav>
                    <a href="/" class="scroll">Scanning tool</a>
                    <a href="/faq/" class="scroll">Info</a>
                    <a href="/batch/" class="scroll">Data analysis</a>
                    <a href="/help/" class="scroll">Contribute</a>
                    <a href="/about/" class="scroll">About</a>
                </nav>
            </div>
        </section>
        {% block content %}
        {% endblock %}
        <section id="footer">
            <p>This website's source code is licensed under the AGPL and available on <a href="http://github.com/blagae/elisio">Github</a>.</p>
            <p>Made by blagae in 2017.</p>
        </section>
    </body>
</html>
