{% extends "base.html" %}
{% load staticfiles %}
{% block extra_scripts %}<script src="{% static 'batchScripts.js' %}" type="text/javascript"></script>{% endblock %}
{% block content %}
        <section id="batch">
            {% if request.session.verses|length > 0 %}
            <button id="clearSession">Clear current batch run</button>
            <table id="batchTable">
            <caption>These are the verses you've analyzed so far in this session</caption>
                <thead>
                    <tr>
                        <td>Author</td>
                        <td>Opus</td>
                        <td>Book</td>
                        <td>Poem</td>
                        <td>Verse number</td>
                        <td>Text</td>
                        <td>Scanned as</td>
                        {% if request.user.is_authenticated %}<td> </td>{% endif %}
                    </tr>
                </thead>
            {% for verse in request.session.verses %}
                <tbody>
                    <tr id="{{ verse.id }}">
                        <td>{{ verse.author.name }}</td>
                        <td>{{ verse.opus.name }}</td>
                        <td>{{ verse.book.number }}</td>
                        <td>{{ verse.poem.number }}</td>
                        <td>{{ verse.verse.number }}</td>
                        <td>{{ verse.verse.text }}</td>
                        <td>{{ verse.verse.type }}</td>
                    {% if request.user.is_authenticated %}
                        <td><img src="{% static 'delete.png' %}" alt="{{ verse.id }}" height="16" width="16" class="delete"></td>
                    {% endif %}
                    </tr>
                </tbody>
            {% endfor %}
            </table>
            {% else %}
            <p>You haven't analyzed any verses yet.
            Head over to the <a href="/">interactive verse selector</a> to start analyzing.</p>
            {% endif %}
        </section>
        <section id="query">
            {% if request.user.is_authenticated %}
            {% include "./kickass.html" %}
            {% else %}
            <p>Hint: if you <a href="/login">log in</a> or <a href="/register">register</a>, then you'll be able to do the interactive verse selection on this page.
            In addition, in the future you will also be able to:</p>
            <ul>
                <li>access the kickass query builder</li>
                <li>specify the kinds of information you're looking for</li>
                <li>edit your batches</li>
                <li>schedule larger batch runs, and re-execute existing ones</li>
            </ul>
            {% endif %}
        </section>
{% endblock %}
