{% extends "base.html" %}
{% block content %}
        <section id="faq">
            <p></p>
            <ol>
                <li>split the verse into words</li>
                <li>analyze the letters:
                    <ul>
                        <li>remove reading marks</li>
                        <li>resolve writing conventions (v => u)</li>
                    </ul>
                </li>
                <li>combine letters into sounds
                    <ul>
                        <li>qu is one sound</li>
                        <li>two letters in a diphthong form one sound</li>
                        <li>muta cum liquida is treated as one sound, since it doesn't make position</li>
                    </ul>
                </li>
                <li>combine sounds into syllables, taking into account the possible ambiguity of semivowels</li>
                <li>try to determine syllable weights based on the basic weight rules</li>
                <li>try to see, from the syllable count, whether the verse can legally be a hexameter, pentameter, ... verse</li>
                <li>try to determine the full verse from the known weights
                    <ol>
                        <li>if this succeeds, store the resulting verse structure and word structures in the database</li>
                        <li>if this fails, use knowledge in the database from words from successfully parsed verses to determine more known syllables and reanalyze</li>
                    </ol>
                </li>
            </ol>
        </section>
{% endblock %}
