{% extends "base.html" %}
{% block content %}
        <section id="help">
            <p>This project is very much a work in progress. Many plans are in the works, but few are fully realized.
            </p>
            <p>You can help out with:</p>
            <dl>
                <dt>User contributions</dt>
                <dd>
                    <ul>
                        <li>reporting incorrect verse scansions</li>
                        <li>providing edge cases we should be able to beat</li>
                    </ul>
                </dd>
                <dt>Designer contributions</dt>
                <dd>
                    <ul>
                        <li>Fix my CSS, because I clearly don't know what I'm doing</li>
                        <li>Suggest REST routes for better data access</li>
                    </ul>
                </dd>
                <dt>Programmer contributions</dt>
                <dd>
                    <ul>
                        <li>finding scanning algorithms</li>
                        <li>debugging known issues</li>
                        <li>cleaning up code, or telling me what to clean up</li>
                    </ul>
                </dd>
                <dt>High-level ideas</dt>
                <dd>
                    <ul>
                        <li>thinking out of the box for untapped sources of analysis</li>
                        <li>debugging known issues</li>
                    </ul>
                </dd>
            </dl>
        </section>
{% endblock %}
