        <section id="kickassSection">
            <form>
                <table>
                    <caption>Verse criteria</caption>
                    <tr>
                        <td>
                            <button>(</button>
                            <button><s>(</s></button>
                        </td>
                        <td><select name="author">
                                <option value="contains">Contains text:</option>
                                <option value="zeleny">Has Zeleny code:</option>
                                <option value="feet">Has foot structure:</option>
                                <option value="elisions">Has elisions:</option>
                                <option value="type">Is of verse type:</option>
                            </select>
                        </td>
                        <td colspan="2"><input type="text" /></td>
                        <td>
                            <button>)</button>
                            <button><s>)</s></button>
                        </td>
                    </tr>
                    <tr>
                        <td><select name="boolop"><option value="and">And</option><option value="or">Or</option></select></td>
                        <td><input type="checkbox" />Not</td>
                    </tr>
                </table>
                <input type="button" value="Save" id="saveitems" />
                <table id="corpusCriteriaTable">
                    <caption>Corpus criteria</caption>
                    <tr class="criterium">
                        <td><select name="relation" class="relationBatchField"><option value="EXCEPT">Except</option><option value="OR">Or</option></select></td>
                        <td><select name="author" class="authorBatchField"><option value="All">All</option></select></td>
                        <td><select name="opus" class="opusBatchField"><option value="All">All</option></select></td>
                        <td><select name="book" class="bookBatchField"><option value="All">All</option></select></td>
                        <td><select name="poem" class="poemBatchField"><option value="All">All</option></select></td>
                    </tr>
                </table>
                <p>Output information</p>
                <ul>
                    <li>
                        <input type="checkbox" />a list of verses
                        <ul>
                            <li><input type="checkbox" />including weight diacritics</li>
                            <li><input type="checkbox" />including zeleny code</li>
                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" />statistics
                        <ul>
                            <li><input type="checkbox" />average</li>
                            <li><input type="checkbox" />median</li>
                            <li><input type="checkbox" />quartiles</li>
                            <li><input type="checkbox" />standard deviation</li>
                            <li><input type="checkbox" />variance</li>
                        </ul>
                    </li>
                    <li>
                        <p>Group statistics</p>
                        <ul>
                            <li><input type="checkbox" />group per author</li>
                            <li><input type="checkbox" />group per opus</li>
                            <li><input type="checkbox" />group per book</li>
                            <li><input type="checkbox" />group per poem</li>
                        </ul>
                    </li>
                </ul>
            </form>
        </section>
