            <form>
                <table>
                    <tr>
                        <td colspan="2">Author</td>
                        <td colspan="2">Opus</td>
                        <td>Book</td>
                        <td>Poem</td>
                        <td>Verse</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <select name="author" id="authorScannerField">
                                {% for author in authors %}
                                <option value="{{ author.id }}">{{ author.short_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2"><select name="opus" id="opusScannerField"></select></td>
                        <td><select name="book" id="bookScannerField"></select></td>
                        <td><select name="poem" id="poemScannerField"></select></td>
                        <td><input name="verseNumber" id="verseNumberScannerField" /></td>
                        <td><p id="warningScannerField"></p></td>
                    </tr>
                    <tr>
                        <td colspan="5"><input type="text" name="verse" id="verseContentsScannerField" size="60"/></td>
                        <td><input value="Random verse" id="randomVerseScannerButton" /></td>
                        <td><label><input type="checkbox" name="dict" id="useDictCheckbox" checked="checked" />Use dictionary</label></td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <input type="radio" name="verseType" value="HEXAMETER" />Hexameter
                            <input type="radio" name="verseType" value="PENTAMETER" />Pentameter
                            <input type="radio" name="verseType" value="UNKNOWN" />I don't know
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7"><p id="scannedVerseResultField"></p></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="/about#zelenyInfoSection">Zeleny code:</a></td>
                        <td colspan="5"><p id="zelenyResultField"></p></td>
                    </tr>
                    <tr>
                        <td colspan="7"><p id="errorResultField"></p></td>
                    </tr>
                </table>
                {% csrf_token %}
            </form>
